

.block{
    margin: 106px 108px 530px 142px;
    background: #e8e8e8;
}


.telo{
    height: 100%;
    width: 1440px;
    height: 1700px;
    background-color: #e8e8e8;
}

h1{
    position: absolute;
    top:168px;
    left: 671px;
    right: 702px;
    bottom: 1522px;
    opacity: 0.6;
font-family: Arial;
font-size: 14px;
line-height: 40px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #273d46;
    
}
p.text1{
    position: absolute;
    top:206px;
    left: 0px;
    right: 372px;
    bottom: 1419px;
    text-align: center;
    font-family: 'Times New Roman';
font-size: 36px;
line-height: 50px;
font-weight: 400;
color: #273d46;
    
}

.cl{
    position: absolute;
    top:358px;
    left: 289px;
    right: 310px;
    bottom: 781px;
    width: 841px;
height: 561px;
box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
}

.cl1{
    position: absolute;
    top:368px;
    left: 299px;
    right: 320px;
    bottom: 791px;
    width: 821px;
height: 541px;
}

p.text2{
    position: absolute;
    top:1016px;
    left: 334px;
    right: 370px;
    bottom: 427px;
    opacity: 0.8;
font-family: 'Times New Roman';
font-size: 24px;
line-height: 40px;
font-weight: 400;
color: #273d46;
}

.list1{
    font-family: Arial;
font-size: 20px;
line-height: 36px;
font-weight: 400;
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #273d46;
}

.list2{
    font-family: Arial;
font-size: 20px;
line-height: 36px;
font-weight: 400;
font-style: italic;
color: #80b7b3;
}

.list3{
    font-family: Arial;
font-size: 20px;
line-height: 36px;
font-weight: 700;
color: #273d46;
}

.list4{
    opacity: 0.3;
font-family: Arial;
font-size: 20px;
line-height: 36px;
font-weight: 400;
text-decoration: line-through;
color: #273d46;
}

.list li{
    position: absolute;
    top:1016px;
    left: 334px;
    right: 370px;
    bottom: 427px;
    margin: 0px 0px 10px 0px;
    position: relative;
}

.list li::before{
    content: '';
    background: url('../img/check_icon_37.png');
    width: 25px;
    height: 19px;
    background-color: #80b7b3;
}

.buton{
    width: 199px;
    height: 44px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
}
.button{
    font-family: Arial;
font-size: 14px;
line-height: 40px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #ffffff;
}

.buttton{
    width: 21px;
    height: 14px;
    opacity: 0.8;
    background-color: #ffffff;
}